body{
    margin:200px;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A ;
}

.container h3{
    color: white;
}
.scoreNumber{
    background-color: black;
    color:red;
    text-align: center;
}

.scoreAddition{
    text-align: center;
    color:#9AABD8;
    border: solid 1px #9AABD8;
}