/*
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

**/

body {
    margin: 0;
    text-align: center;
}

#hero_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/torshov.jpg");
    background-size: cover;
    padding: 10px 0 3cm 0px;
}

h1, h2{
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    background-color: #1D3557;
    
    justify-content: center;

}

h2{
    background-color: #457B9D;
}