/*
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

**/

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
}


#header_section{
    display: flex;
    background: url("images/torshov.jpg");
    background-size: cover;
    padding: 10px 0 40px 0;
}

h1, h2{
    
    color: #ffffff;
    background-color:#1D3557;
    padding: 2px 2px 2px 2px;
    display: column;
    text-align: center;
}

#herotext{
    
}